<div layout="column" layout-padding="" ng-cloak="" class="inputdemoIcons" >

  <br>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Name</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="user.name" type="text">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Password</label>
      <md-icon md-svg-src="img/icons/lock.svg" class="password"></md-icon>
      <input ng-model="user.password" type="password">
    </md-input-container>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
      <md-button class="md-raised md-primary md-cornered" ng-click="signIn()">Sign In</md-button>
      <md-button class="md-icon-button md-primary" aria-label="Settings">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
      </md-button>
    </section>

  </md-content>

</div>