<div ng-cloak="" layout-gt-sm="row" layout="column" class="">

  <div flex-gt-sm="100" flex="100">

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
          <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>

        <h2 flex="" md-truncate="">UI Objects | Project - {{projectName}}</h2>

        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="More" ng-click="toggleRight()">
          <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content>
      <md-list flex="">
        <md-subheader class="md-no-sticky" id="myselector">{{ elementCounterText }}</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="element in inspectedElements" ng-click="null">
        <md-icon md-svg-icon="{{ imagePaths[configInfo.allowedType] }}" class="md-avatar selectorTypeIcon"></md-icon>
          <div class="md-list-item-text" layout="column">
            <h3>{{ element.node.title }}</h3>
            <h4>{{ element.node.tagName }} Tag</h4>
            <p>{{ element[configInfo.allowedType] }}</p>
          </div>
          <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction(element)" aria-label="call">
            <md-icon md-svg-icon="communication:email"></md-icon>
          </md-button>
          <md-button class="md-secondary md-icon-button" aria-label="call">
            <md-icon md-svg-icon="device:storage"></md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <md-divider></md-divider>


  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Settings</h1>
    </md-toolbar>
    <md-content ng-controller="RightCtrl" layout-padding="">
      <form>
        <md-input-container>
          <h3>UI Object Selection Type</h3>
          <md-radio-group ng-model="data.group1">
            <md-radio-button value="csspath" class="md-primary">CSS Path</md-radio-button>
            <md-radio-button value="xpath" class="md-primary">X Path</md-radio-button>
          </md-radio-group>
        </md-input-container>
        <hr>
      </form>
      <md-button ng-click="close()" class="md-primary">
        Close Settings
      </md-button>
    </md-content>

  </md-sidenav>

</div>
